fastapi
uvicorn[standard]
jinja2
python-multipart
aiofiles
sqlalchemy
requests
httpx
python-jose[cryptography]
passlib[bcrypt]
itsdangerous
python-dotenv
websockets
qrcode
pillow
PyYAML
cryptography
orjson
